<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front.autofocus"  android:required="false"/>



    <supports-screens android:resizeable="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:anyDensity="true" />



    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".ApplicationClass"
        android:allowBackup="true"
        android:icon="@drawable/splash_image"
        android:label="@string/label_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Splash"
            android:screenOrientation="portrait"
            android:theme="@style/splashTheme">
        </activity>
        <activity android:name=".six_list" />
        <activity android:name=".five_list" />
        <activity android:name=".four_list" />
        <activity android:name=".three_list" />
        <activity android:name=".two_list" />
        <activity android:name=".one_head" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.myapplication"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".Camera"
            android:theme="@style/splashTheme"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation"/>
        <activity android:name=".setting" />
        <activity android:name=".pain_choice" />
        <activity android:name=".suji_info" />
        <activity android:name=".Log" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>